*{
    background-color: #b7ccf0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div1{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.generatebutton{
    margin-top: 10px;
    opacity: 0.5;
    transition: ease-in 270ms;
    background-image: linear-gradient(45deg, #008cff, #43abff, #7dc3fc, #b1dcff, #cee9ff);
    font-size: 15px;
    padding: 10px;
    border-style: none;
    border-radius: 1000px;
}

.generatebutton:hover{
    opacity: 1;
    box-shadow: 40px 0 60px rgb(0, 191, 255), -40px 0 60px rgb(0, 191, 255);
}


.textside{
    margin: auto;
    opacity: 0.5;
    transition: opacity 300ms;
    background-color: rgb(170, 197, 204);
    border-radius: 10px;
    max-height: 50px;
    width: 100%;
}

.aianswer{
    background-color: rgb(170, 197, 204);
}
